openapi: 3.0.1
info:
  title: BPOC.IO API
  description: API for accessing BPO job listings and career insights for Filipino professionals
  version: 1.0.0
servers:
  - url: https://www.bpoc.io
paths:
  /api/jobs/search:
    get:
      operationId: searchJobs
      summary: Search for BPO job opportunities
      parameters:
        - name: query
          in: query
          description: Search query for job titles or keywords
          required: false
          schema:
            type: string
        - name: location
          in: query
          description: Job location filter
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: Maximum number of results to return
          required: false
          schema:
            type: integer
            default: 10
      responses:
        "200":
          description: List of matching job opportunities
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  jobs:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        title:
                          type: string
                        company:
                          type: string
                        location:
                          type: string
                        description:
                          type: string
                        salary_range:
                          type: string
                        url:
                          type: string
  /api/insights/search:
    get:
      operationId: searchInsights
      summary: Search for BPO career insights and guides
      parameters:
        - name: query
          in: query
          description: Search query for topics (e.g., "salary", "interview tips", "career growth")
          required: false
          schema:
            type: string
        - name: category
          in: query
          description: Filter by content category/silo
          required: false
          schema:
            type: string
            enum:
              - bpo-salary-compensation
              - bpo-career-growth
              - interview-tips
              - bpo-jobs
              - bpo-company-reviews
              - bpo-employment-guide
              - training-and-certifications
              - work-life-balance
        - name: limit
          in: query
          description: Maximum number of results to return
          required: false
          schema:
            type: integer
            default: 5
      responses:
        "200":
          description: List of matching career insights articles
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  insights:
                    type: array
                    items:
                      type: object
                      properties:
                        title:
                          type: string
                        slug:
                          type: string
                        description:
                          type: string
                        category:
                          type: string
                        url:
                          type: string
                        published_at:
                          type: string
                          format: date-time
